* {
  margin: 0;
  padding: 0;
}

#checkout_body {
  display: grid;
  grid-template-rows: 35px auto 35px;
  place-items: center;
  min-height: 100vh;
  width: 100%;
}

#checkout_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  text-align: center;

  background-color: lightcyan;

  > img {
    width: 70%;
    height: 90%;
  }

  > #delete_button {
    justify-self: end;
    align-self: center;
  }
}
